# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
go.work.sum

# Test binary
*.test

# Output of go coverage tool
*.out
coverage.txt

# Dependency directories
vendor/

# JetBrains IDEs (IntelliJ, WebStorm, PyCharm, etc.)
.idea/
*.iml
*.iws
*.ipr
out/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.stackdump

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Make
bin
